.container{
    margin-top: 6% ;
}

.loginForm{
    background-color: aliceblue;
    border-radius: 2%;
}

.label{
    padding: 3% 0%;
    margin-bottom: 0;
 } 

 .innerContainer{
     padding: 10%
 }
 .error{
    color: red;
    padding: 0;
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    width: 100%;
 }
 .navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
 }
 .navbar-dark .navbar-brand {
    color: #fff;
    font-size: 25px;
    width: 10%;
 }
 .navbar-expand .navbar-nav {
    flex-direction: row;
    width: calc(100% - 10%);
    text-align: right;
}
.logout-btn {
    flex-direction: row;
    width: 100%;
    text-align: right;
    display: inline-block;
}