/* .dropzone {
    width : 25%;
    height : 20%;
    background-color: gray;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 6%;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  } */

  .dropzone:focus {
    outline:none;
}