.bottomValues{
    display: flex !important;
    justify-content: space-between !important;
    margin:0 !important;
}

.label_entry{
    display: flex !important; 
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.dataTables_info{
    /* height: 80px;
    position: absolute;
    left: 30px; */
    width: max-content;
}

.trade_text{
    float: left;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}

.input_cell{
    border: none; 
    border-width: 0; 
    box-shadow: none;
}

input:focus {
    outline:none;
}
.item-preview{
    height: 100px;
    width: 100px;
}

td.tableIdCon{
    min-width: 110px;
    /*width: max-content;*/
    width: max-content;
}
.nameContent input{
   text-align: center;
   width: 100%;
   max-width: 124px;
}
.table-responsive{
    /* min-height: 350px; */
    width: max-content;
}
.dropdown-item{
    width: max-content;
}

.rbt-menu .dropdown-menu {
    width: max-content;
} 
.nameContent, .companyContent{
    width: max-content;
}

td.typeHeadContainer ul#bulding-type {
    width: 250px !important;
    min-width: 14rem;

}

.rbt-input-hint-container{
    width: 300px;
    height: 50px;
}

.companyContent{cursor: pointer;}
/* td.typeHeadContainer .dropdown-item{ */
    /* width: 200px  !important;
} */

.tableContainer{
   
}

.actionContainer{
    width: 100px;
}

