.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 9999999999999999999999 !important;
    width: 100vw;
    clear: both;
    opacity: 0.6;
    position: fixed;
}
.loading-spinner {
    z-index: 1;
}